<tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{status}}
    </th>
    <td class="px-6 py-4">
        {{urgency}}
    </td>
    <td class="px-6 py-4">
        {{client.firstName}}
    </td>
    <td class="px-6 py-4">
        {{tech.firstName}}
    </td>
    <td class="px-6 py-4">
        {{format_date createdAt}}
    </td>
    <td class="px-6 py-4 text-right">
        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Claim</a>
    </td>
</tr>